* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #05070c;
  color: white;
  overflow-x: hidden;
}

/* INTRO */
.intro {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeOut 3s forwards;
  animation-delay: 2s;
  z-index: 999;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.hero-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("photos/hero.jpeg") center/cover;
  transform: scale(1.1);
  filter: brightness(0.55);
}

.hero-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, transparent, black);
}

.hero-content {
  z-index: 2;
}

.profile {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 2px solid white;
  margin-bottom: 15px;
  object-fit: cover;
}

/* STORY */
.story {
  padding: 100px 20px;
  text-align: center;
  max-width: 700px;
  margin: auto;
  color: #ccc;
}

/* TIMELINE */
.timeline {
  padding: 80px 20px;
  text-align: center;
}

.timeline-grid {
  display: grid;
  gap: 10px;
  max-width: 500px;
  margin: auto;
}

.timeline-grid div {
  background: #111826;
  padding: 12px;
  border-radius: 8px;
  border-left: 3px solid white;
}

/* AWARDS */
.awards {
  padding: 80px 20px;
  text-align: center;
}

.award-grid {
  display: grid;
  gap: 10px;
  max-width: 500px;
  margin: auto;
}

.award-grid div {
  background: #0f1622;
  padding: 12px;
  border-radius: 8px;
}

/* GALLERY */
.gallery {
  padding: 80px 20px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 12px;
  max-width: 800px;
  margin: auto;
}

.grid img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.grid img:hover {
  transform: scale(1.04);
}

/* LIGHTBOX */
#lightbox {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.95);
  align-items: center;
  justify-content: center;
}

#lightbox img {
  max-width: 90%;
  max-height: 80%;
  border-radius: 10px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 40px;
  color: #666;
}
